@model DVDManagement.Models.AdminViewModel.InfoViewModel

@{
    ViewData["CheckDelete"] = "確定要刪除此管理者?";
    ViewData["SuccessDelete"] = "成功刪除管理者";
}

<div class="container">
    <div class="row">

        <!-- 管理者相片 -->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30">
                        <img src="@Url.Content($"~/images/AvatarImage/{Model.AdminModel.UserName}.jpg")" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">@Model.AdminModel.UserName</h4>
                    </center>
                </div>
            </div>
        </div>

        <!-- 管理者資訊 -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <form id="modifyForm" asp-action="Modify" asp-controller="admin" method="post" class="form-horizontal form-material">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AdminModel.UserName" class="form-control-label"></label> : @Html.DisplayFor(m => m.AdminModel.UserName)
                            <input id="userNameHidden" type="hidden" asp-for="AdminModel.UserName" value="@Model.AdminModel.UserName">
                        </div>
                        <div class="form-group">
                            <label asp-for="AdminModel.Email" class="form-control-label"></label> :
                            <input type="email" asp-for="AdminModel.Email" value="@Model.AdminModel.Email" class="form-control form-control-line">
                            <span asp-validation-for="AdminModel.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdminModel.PhoneNumber" class="form-control-label"></label> :
                            <input type="text" asp-for="AdminModel.PhoneNumber" value="@Model.AdminModel.PhoneNumber" class="form-control form-control-line">
                            <span asp-validation-for="AdminModel.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdminModel.Address" class="form-control-label"></label> :
                            <input type="text" asp-for="AdminModel.Address" value="@Model.AdminModel.Address" class="form-control form-control-line">
                            <span asp-validation-for="AdminModel.Address" class="text-danger"></span>
                        </div>
                    </form>

                        <div class="form-group">
                            <button id="modifydBtn" type="button" class="btn btn-success">更新</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deletePopUp">刪除</button>
                        </div>

                        <div class="form-group">
                            <a href="#" id="changePasswordPopUpBtn" class="btn btn-lg btn-success" data-toggle="modal" data-target="#changePasswordPopUp">更改密碼</a>
                        </div>
                    <div class="modal fade" id="changePasswordPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">更改密碼</h5>
                                </div>
                                <form id="changePasswordForm" asp-action="ResetPassword" asp-controller="admin" method="post" >
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input type="hidden" asp-for="AdminModel.UserName" value="@Model.AdminModel.UserName">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label asp-for="ChangePasswordViewModel.OldPassword" class="form-control-label"></label> :
                                            <input asp-for="ChangePasswordViewModel.OldPassword" type="password" class="form-control form-control-line">
                                            <span asp-validation-for="ChangePasswordViewModel.OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ChangePasswordViewModel.NewPassword" class="form-control-label"></label> :
                                            <input asp-for="ChangePasswordViewModel.NewPassword" type="password" class="form-control form-control-line">
                                            <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ChangePasswordViewModel.ConfirmPassword" class="form-control-label"></label> :
                                            <input asp-for="ChangePasswordViewModel.ConfirmPassword" type="password" class="form-control form-control-line">
                                            <span asp-validation-for="ChangePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <button id="changePasswordBtn" type="button" class="btn btn-primary">儲存更變</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @await Html.PartialAsync("_DeleteDataPartial")

    </div>
</div>

@section scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/ajaxErrorHandel.js"></script>

    <script>
        $(document).ready(function (e) {
            $("#modifydBtn").click(function () {
                var url = "@Url.Action("Modify", "admin")";
                $.ajax(url,
                {
                    type: 'post',
                    data: $("#modifyForm").serialize(),
                    async: false,
                    success: function (data) {
                        alert(data);
                    },
                    error: function (jqXHR, exception) {
                        ajaxErrorHandle(jqXHR, exception)
                    },
                });
            })

            $("#changePasswordBtn").click(function () {
                var url = "@Url.Action("ResetPassword", "admin")";
                $.ajax(url,
                {
                    type: 'post',
                    data: $("#changePasswordForm").serialize(),
                    async: false,
                    success: function (data) {
                        alert(data);
                    },
                    error: function (jqXHR, exception) {
                        ajaxErrorHandle(jqXHR, exception)
                    },
                });
            })

            $('#successDeletePrompt').on('hidden.bs.modal', function (e) {
                window.location.href = "@Url.Action("Details", "Admin")"
            })

            $("#deleteBtn").click(function () {
                var url = "@Url.Action("Delete", "Admin")";
                $.ajax(url,
                    {
                        type: 'post',
                        data: 'userName=@Model.AdminModel.UserName',
                        success: function () {
                            $('#deletePopUp').modal('hide');
                            $('#successDeletePrompt').modal('toggle');
                        },
                        error: function (jqXHR, exception) {
                            ajaxErrorHandle(jqXHR, exception)
                        },
                    });
            });
        });
    </script>
}