@model DVDManagement.Common.PaginatedList<DVDManagement.Models.Dvd_info>

@{
    ViewData["DetailActionName"] = "Details";
}

<div class="card col-md-8">
    <form asp-action="Details" method="get">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="searchConcept">@((ViewData["CurrentSearchParam"] == null) ? "影片代號" : @ViewData["CurrentSearchParam"])</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>影片代號</a></li>
                            <li><a>名稱</a></li>
                        </ul>
                    </div>

                    <!-- 搜尋方式參數 -->
                    <input type="hidden" name="searchParam" value="@ViewData["CurrentSearchParam"]" id="searchParam">
                    <input type="text" class="form-control" name="searchString" placeholder="搜尋內容" value="@ViewData[" currentFilter"]">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div style="margin-top:20px">
        <div class="card-body">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Movie_code)
                            </th>
                            <th>
                                <a asp-action="@ViewData["DetailActionName"]"
                                   asp-route-sortOrder=@(((string)ViewData["CurrentSort"] == "name_desc") ? "name" : "name_desc")
                                   asp -route-page="@(Model.PageIndex)">
                                    @Html.DisplayNameFor(model => model.First().Name)
                                </a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Rent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Overdue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Time_limit)
                            </th>
                            <th>
                                <a asp-action="@ViewData["DetailActionName"]"
                                   asp-route-sortOrder=@(((string)ViewData["CurrentSort"] == "date_desc") ? "date" : "date_desc")
                                   asp -route-page="@(Model.PageIndex)">
                                    @Html.DisplayNameFor(model => model.First().Create_date)
                                </a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Dvd_recode.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Dvd_recode.User_no)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="4" align="center">
                                    查詢不到資料
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Info" asp-route-movie_code="@item.Movie_code">@Html.DisplayFor(modelItem => item.Movie_code)</a>
                                </td>
                                <td>
                                    <a asp-action="Info" asp-route-movie_code="@item.Movie_code">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Overdue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time_limit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Create_date)
                                </td>
                                <td>
                                    @if (item.Dvd_recode != null)
                                    {
                                        @if (item.Dvd_recode.Status == 0)
                                        {
                                            @:未租借
                                        }
                                        else if (item.Dvd_recode.Status == 1)
                                        {
                                            @:租借中
                                        }
                                    }
                                    else
                                    {
                                        @:未租借
                                    }
                                </td>
                                <td>
                                    <a asp-controller="User" asp-action="Info" asp-route-user_no="@item.Dvd_recode.User_no">
                                        @if (item.Dvd_recode.User_no > 0)
                                        {
                                            @item.Dvd_recode.User_no
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @await Html.PartialAsync("_PaginatedListPartial", Model)

            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function (e) {
            var searchParam = $("#searchParam").val()
            if (searchParam != "") {
                var concept = searchParam;
                $('.search-panel span#searchConcept').text(concept);
                $('.input-group #searchParam').val(concept);
            }

            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var concept = $(this).text();
                $('.search-panel span#searchConcept').text(concept);
                $('.input-group #searchParam').val(concept);
            });
        });
    </script>
}
