<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    -->
    <title></title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/lib/chartist-js/dist/chartist.min.csss" rel="stylesheet">
        <link href="~/css/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
        <link href="~/lib/c3-master/c3.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/pages/dashboard.css" rel="stylesheet">
        <link href="~/css/colors/default-dark.css" id="theme" rel="stylesheet">

        <base href="~/" />
    </environment>
</head>

@{
    @using DVDManagement.Common;
}

<body class="fix-header card-no-border fix-sidebar">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Pro</p>
        </div>
    </div>

    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">

                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-dark" href="#"><img src="~/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @{
                            Menu.Area area = (Menu.Area)Enum.Parse(typeof(Menu.Area), (string)TempData.Peek("menu"));
                            string[,] menuItem = Menu.GetMenuItem(area);
                        }
                        @for (int i = 0; i < menuItem.Rank; i++)
                        {
                            <li> <a class="waves-effect waves-dark" asp-controller="@menuItem[i, 1]" asp-action="@menuItem[i, 2]" aria-expanded="false"><span class="hide-menu">@menuItem[i, 0]</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap popper Core JavaScript -->
        <script src="~/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
        <!--Wave Effects -->
        <script src="~/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="~/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="~/js/custom.min.js"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/chartist-js/dist/chartist.min.js"></script>
        <script src="~/lib/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <!--c3 JavaScript -->
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/c3-master/c3.min.js"></script>
        <!-- Chart JS -->
        <script src="~/js/dashboard.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>

