<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="brand-wrapper"> 
                </div>
            </div>

            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    @{
                        @using DVDManagement.Common;
                    }
                    @foreach (Menu.Area area in Enum.GetValues(typeof(Menu.Area)))
                    {
                        string[] titleList = Menu.GetTitleItem(area);
                        string[,] menuList = Menu.GetMenuItem(area);
                        <li class="panel panel-default" id="dropdown">
                            <a data-toggle="collapse" href="#@titleList[0]">
                                @if (titleList[1] == "Admin") {
                                    <span class="glyphicon glyphicon-home"></span>
                                }
                                else if (titleList[1] == "User")
                                {
                                    <span class="glyphicon glyphicon-user"></span>
                                }
                                else if (titleList[1] == "DVD")
                                {
                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                }
                                @titleList[0]<span class="caret"></span>
                            </a>
                            <div id="@titleList[0]" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        @for (int i = 0; i < menuList.GetLength(0); i++)
                                        {
                                            <li><a asp-controller="@menuList[i, 1]" asp-action="@menuList[i, 2]">@menuList[i, 0]</a></li>
                                        }
                                    </ul>
                                </div>
                             </div>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="side-body">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
